* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #ffffff 10%, #e6f7ff 40%, #d9fff0 100%);
    background-size: cover;
    height: 100vh;
}



/* ======= HEADER ======= */
header {
    display: flex;
    justify-content: space-between;
    /* OFPPT left – PIE right */
    align-items: center;
    padding: 20px 30px;
}

/* LOGOS */
.logo-left {
    width: 90px;
    /* صغّرته */
}

.logo-right {
    width: 90px;
    /* حتى هو صغير */
}

/* ======= FORM ======= */
article {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    width: 320px;
    background: white;
    padding: 35px 25px;
    border-radius: 10px;
    box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.20);
    text-align: center;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.12);
}

form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid rgba(98, 184, 224, 0.726);
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    font-size: 15px;
}


/* CHECKBOX */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    margin-bottom: 20px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    background: #50b3fafb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background: #86dda8;
}

/* ======= RESPONSIVE ======= */
@media (max-width: 600px) {
    header {
        padding: 15px 20px;
    }

    .logo-left {
        width: 75px;
    }

    .logo-right {
        width: 75px;
    }

    form {
        width: 90%;
    }
}
a{
    text-decoration: none;
    color: white;
}