*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ffffff 10%, #e6f7ff 40%, #d9fff0 100%);
    background-size: cover;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

article {
    background: rgba(209, 203, 243, 0.349);
    width: 90%;
    max-width: 420px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.12);
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

select{
    width: 99%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #c8d6e5;
    margin: 12px 0;
    font-size: 15px;
    background: #fcfcfcb2;
    color: #2d3436;
    outline: none;
    transition: 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-position: right 14px center;
    background-repeat: no-repeat;
}
select:hover {
  border-color: #439cb8;
}
select:focus {
  border-color: #367cff;
  box-shadow: 0 0 0 3px rgba(54,124,255,0.25);
}
select option {
  background: #ffffff;
  color: #2d3436;
  padding: 10px;
}
select option:hover {
  background: #e8f0ff !important;
}
select option:checked {
  background: #dbe7ff !important;
}
textarea {
    width: 92%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #c8d6e5;
    margin: 12px 0;
    font-size: 15px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    background-color: #fcfcfcb2;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    min-height: 120px;
}
textarea:hover{
    border-color: #439cb8;
}
textarea:focus{
    border-color: #367cff;
    box-shadow: 0 0 0 3px rgba(54,124,255,0.25);
}

button {
    width: 100%;
    padding: 12px;
    background: #50b3fafb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: #86dda8;
}

/* POPUP STYLE */
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease;
}

#popup.show {
    opacity: 1;
    visibility: visible;
}

.popup-box {
    background: white;
    width: 90%;
    max-width: 340px;
    text-align: center;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -3px 15px rgba(0,0,0,0.2);
    transition: 0.12s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    transform: translateY(100px); /* قريب بزاف بدل 100% */

}

#popup.show .popup-box {
    transform: translateY(0%);
}


.popup-logo {
    width: 80px;
    margin-bottom: 10px;
}

.popup-box p {
    font-size: 17px;
    font-weight: bold;
    color: #2b8a3e;
}
@media (max-width: 600px) {
    article{
        width: 80%;
    }
}
footer{
    text-align: center;
    margin-top: 200px;
    font-family: 'Courier New', Courier, monospace ;
}
.submit-btn {
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #4faeff;
    cursor: pointer;
}

.spinner {
    display: none;
    width: 22px;
    height: 22px;
    border: 3px solid rgba(255,255,255,.3);
    border-top: 3px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

.submit-btn.loading .btn-text {
    display: none;
}

.submit-btn.loading .spinner {
    display: block;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}



